/* Global start */
/* Meta start */
/* Embed CSS files start */
@import url('./styles-menu.css');
@import url('./styles-mode.css');

/* Embed CSS files end */
/* Import fonts start */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap');

/* Import fonts end */
/* Custom variables start */
:root {
  --main-font: 'Barlow Condensed', sans-serif;
  --white: #fff;
  --black: #000;
  --off-white: #f5f5f4;
  --off-white-alt: #eeeae3;
  --dark-grey: #18181a;
  --mid-grey: #232327;
  --mid-grey-alt: #38383d;
  --light-grey: #b9b9bb;
  --red: #b81d13;
  --yellow: #efb700;
  --green: #008450;
  --dark-green: #007245;
}

/* Custom variables end */
/* Animations start */
@keyframes spin-cw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes spin-ccw {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* Animations end */
/* Meta end */
/* Styles start */
body {
  font-family: var(--main-font);
}

.wrapper,
.cont_main,
.cont_input,
.cont_output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 800px;
  overflow: hidden;
}

.cont_score {
  position: absolute;
  right: 125px;
  top: 65px;
  display: flex;
}

.score-icon {
  width: 15px;
}

.input-label,
.chances-text {
  display: block;
  font-size: 20px;
  text-align: center;
  color: var(--light-grey);
}

.input-field-set,
.input-field {
  display: block;
  font-family: var(--main-font);
  font-size: 25px;
  text-align: center;
  width: 80px;
  padding: 5px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  outline: none;
}

.input-field:disabled {
  background-color: var(--white);
}

.cont_main {
  width: 700px;
  height: 600px;
  color: var(--light-grey);
  background-color: var(--mid-grey);
  border-radius: 5px;
  box-shadow: 0 3px 3px var(--black);
}

.main-title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
  border-top: 2px solid var(--light-grey);
  border-bottom: 2px solid var(--light-grey);
}

.main-description {
  font-size: 25px;
  margin-bottom: 15px;
}

.value-num,
.score-title {
  font-weight: 500;
}

.cont_input {
  padding: 25px 30px;
  margin-bottom: 50px;
  border: 2px solid var(--light-grey);
  border-radius: 5px;
}

.main-label {
  padding: 15px;
  margin: 0 auto;
}

.input-field {
  margin: -15px auto 15px;
}

.input-field::placeholder {
  opacity: 0.25;
}

.btn {
  display: block;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 500;
  width: 80px;
  margin: 0 auto 15px;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply,
.guess {
  color: var(--white);
  background-color: var(--green);
}

.apply:hover,
.guess:hover {
  background-color: var(--dark-green);
}

.cont_output {
  flex-direction: row;
  width: 600px;
  padding: 15px;
  border-radius: 5px;
}

.output-text {
  font-size: 25px;
}

.cont_new-game {
  position: absolute;
  bottom: -70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  box-shadow: 0px -3px 3px var(--black);
}

.cont_new-game--active {
  bottom: 0px;
}

.new-game--text {
  font-size: 18px;
  font-weight: 500;
}

.input-warn {
  outline: 1px solid var(--red);
  box-shadow: 0px 0px 10px var(--red);
}

.hidden {
  display: none;
}

.cheat {
  position: absolute;
  right: 50px;
  bottom: 40px;
  text-align: center;
}

/* Styles end */
/* Global end */